:root {
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  --accent-color: #076eff;
  --rating: #ffb300;
  --surface: #f5f5f5;
  color: #202124;
}

main,
.api-key-banner {
  width: 100%;
  padding: 24px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 20px;
}

.api-key-banner {
  background-color: #ffddb7;
  font-weight: bold;
  margin-bottom: 16px;
}

.api-key-banner a {
  color: var(--accent-color);
}

* {
  outline-color: var(--accent-color);
}

main {
  background-color: #fff;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 48px auto;
  font-size: 24px;
}

h1::before {
  content: "";
  display: inline-block;
  background: url(gemini.png);
  width: 40px;
  height: 40px;
  background-size: cover;
}

form {
  margin: 0;
}
.image-picker {
  display: flex;
  width: 100%;
  gap: 8px;
  margin-top: 24px;
}

.image-choice {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}

.image-choice:active {
  transform: scale(0.97);
}

.image-choice:has(:checked)::before {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  color: white;
  content: "✓";
  background-color: var(--accent-color);
  width: 24px;
  height: 24px;
  display: grid;
  font-size: 16px;
  place-items: center;
  font-weight: bold;
  border-radius: 100px;
}

.image-choice:has(:checked)::after {
  content: "";
  position: absolute;
  pointer-events: none;
  inset: 0;
  border-radius: 8px;
  box-shadow: 0 0 0 4px var(--accent-color) inset;
}

.image-picker .image-choice:not(:has(:checked)) {
  opacity: 0.5;
}

.image-choice img {
  height: 100%;
}

.image-choice input {
  opacity: 0;
  position: absolute;
}

.image-choice:focus-within::after {
  box-shadow: 0 0 0 4px var(--accent-color) inset;
}

.prompt-box {
  margin: 48px 0 24px 0;
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: flex-end;
  justify-content: center;
}

.map-container {
  margin: 48px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: var(--surface);
  padding: 8px;
  border-radius: 12px;
}

.output {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 4px 8px;
  border-radius: 10px;
  width: fit-content;
}

textarea {
  font-size: 16px;
  width: 100%;
  height: 200px;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  border: transparent;
  resize: none;
}

label {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
}

input,
button {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px 16px;
  font-family: unset;
  font-size: 16px;
}

button {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
}

button:hover {
  opacity: 0.95;
}

#map {
  height: 500px;
  width: 100%;
  margin: auto;
  border-radius: 6px;
}

.info-window-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-self: center;
}

.info-window-content .place-name {
  font-size: 20px;
  font-weight: 700;
}

.info-window-content p {
  margin: 5px;
}

.info-window-photo {
  height: 150px;
  display: inline;
}

.place-info {
  display: flex;
  gap: 2px;
  border-radius: 8px;
  flex-wrap: wrap;
}

.place-address {
  padding: 3px 6px;
  border-radius: 4px;
  background: var(--surface);
}

.place-subheading {
  font-size: 18px;
  font-weight: 600;
  padding-top: 16px;
}

.place-rating {
  display: flex;
  color: white;
  font-weight: 500;
  background: var(--rating);
  padding: 3px 6px;
  border-radius: 4px;
}

.place-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 16px 4px;
}

.info-window-photo {
  border-radius: 8px;
}

.review-text {
  margin: 8px 0;
  font-size: 14px;
  padding-bottom: 8px;
}

.review-info {
  padding-top: 12px;
  display: flex;
  align-items: center;
}

.review-author {
  font-size: 16px;
  font-weight: 500;
}

.weather-info {
  /* border-radius: 8px; */
  /* border: 2px solid var(--accent-color); */
  padding: 4px;
}

.tone-info {
  border-radius: 8px;
  border: 2px solid var(--accent-color);
  padding: 4px;
}

.trip-review {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
  background: var(--surface);
}

.trip-review h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 4px 8px;
}
